.bg_color1{background-color: #16994a;}
.bg_color2{background-color: #e95d5d;}
.bg_color3{background-color: #008eb4;}
.bg_color4{background-color: #77479b;}
.bg_color5{background-color: #1352a2;}
.bg_color6{background-color: #45a38d;}
.bg_color7{background-color: #f16c47;}
.bg_color8{background-color: #f16c47;}

.bg_pattern1{background-image: url('../images/patterns/pattern1.png');}
.bg_pattern2{background-image: url('../images/patterns/pattern2.png');}
.bg_pattern3{background-image: url('../images/patterns/pattern3.png');}
.bg_pattern4{background-image: url('../images/patterns/pattern4.png');}
.bg_pattern5{background-image: url('../images/patterns/pattern5.png');}
.bg_pattern6{background-image: url('../images/patterns/pattern6.png');}
.bg_pattern7{background-image: url('../images/patterns/pattern7.png');}
.bg_pattern8{background-image: url('../images/patterns/pattern8.png');}
